h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: justify;
    text-indent: 5em;
	padding-left: -5em;
	font-size: 12pt;
}

h3.titulo {
	text-align: left;
	page-break-before:always;
}

h3.subtitulo {
	text-align: left;
}

figure figcaption {
	margin-top: 0.5em;
	margin-bottom: 2.0em;
	margin-left: 0em;
	margin-right: 0em;
	font-style: italic;
}

img {
	max-width: 800px;
}

div.tabela {
	text-align: center;
	width: 600px;
	margin: 0 auto;
}

th,td {
    border-bottom: 1px solid #ddd;
}

p.subtabela {
	font-style: italic;
	text-indent: 0em;
	line-height: 0.5cm;
}
